@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Category

<div class=jumbotron>
  <h2>Add a new category</h2>
</div>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    <input type="submit" value="Add new category" />
    <p>@ViewBag.message</p>
}
<p>@Html.ActionLink("Back to categories list", "Index")</p>