.container {
  padding-bottom: 50px;
}

.homepage {
  background: url("../img/library.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  min-height: 60vh;
  border: 2px solid black;
  /* background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.7); */
  margin-bottom: 60px;
}

.footer {
  /* position:fixed; */
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

p {
  font-size: 15px;
}

label {
  margin: 10px;
}

.links5 {
  margin-top: 20px;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.links4 {
  margin-top: 20px;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.links3 {
  margin-top: 20px;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links2 {
  margin-top: 20px;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link {
  font-size: 20px;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}