@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Tag

<h4>Add a new tag</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new tag" />
}
<p>@Html.ActionLink("Back to tags list", "Index")</p>