@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Tag

<div class=jumbotron>
  <h2>Add a new tag</h2>
</div>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new tag" />
    <p>@ViewBag.message</p>
}
<p>@Html.ActionLink("Back to tags list", "Index")</p>