@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Welcome to the Resource Links!</h1>
</div>

<img src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/unfurl-slack-resources-en@2x.jpg" class="img-fluid">

<div class="links4 footer">
  <div class="link">
    <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("See all links", "Index", "Links")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Add new link", "Create", "Links")</p>
  </div>
</div>