@{
  Layout = "_Layout";
}

<h1>Welcome to the Resource Links!</h1>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
<p>@Html.ActionLink("See all links", "Index", "Links")</p>
<p>@Html.ActionLink("Add new link", "Create", "Links")</p>