@{
  Layout = "_Layout";
}

@using ResourceLinks.Models;
@model List<ResourceLinks.Models.Link>;

<h1>Links</h1>

@if (@Model.Count == 0)
{
  <h3>No links have been added yet!</h3>
} 

<ul>
  @foreach (Link link in Model)
  {
    <li>@Html.ActionLink($"{link.Description}", "Details", new { id = link.LinkId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new link", "Create")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>